#main .bar{background:url(../images/bg-bar.png) repeat-x;}
.search-form fieldset{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#1a1a1a',GradientType=0 );}
#sidebar .text-widget .sign-up{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb25e', endColorstr='#fe8119',GradientType=0 );}